body{
    width: 100%;
}
.formdis{
    display: flex;
    flex-direction: column;
        
}
.formdiv{
    border: 1px solid black;
    border-radius: 10px;
    width: 310px;
    padding: 20px;
    padding-top: 5px;
    
}
.formdis p{
    margin-top: -15px;
}
.formdis h2{
    font-size: 30px;
}
.inputdis{
    margin-bottom: 15px;
    width: 300px;
}
.btndis{
    width: 310px;
    height: 40px;
    border-radius: 10px;
    background: black;
    color: white;

}
.searchbar{
    position: relative;
    height: 25px;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 30px;

}
.searchbtn{
    position: absolute;
    border: none;
    left: 380px;
    top: 205px;
    background: transparent;
    font-size: 15px;

}
.searchbar::placeholder {
    padding-left: 1px;
}
.maincontent{
    display: flex;
    gap: 20px;
}
.searchbar{
    margin-bottom: 10px;
}
.tabledis table {
    border-collapse: collapse;
    width: 1530px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
}
  
.tabledis th,
.tabledis td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
    
    
}
.tabledis th{
    background: black;
    color: white;
}
.headerdis{
    margin-bottom: 40px;
}
.headerdis h1{
    font-size: 60px;
    margin-bottom: 0;
}
.tabledis tbody tr:nth-child(odd) {
    background-color: #FAF9F6;
}
  
.tabledis tbody tr:nth-child(even) {
    background-color:#E0E0E0; 
}
  
 
  