.formdis{
    display: flex;
    flex-direction: column;
        
}
.formdiv{
    border: 1px solid black;
    border-radius: 10px;
    width: 310px;
    padding: 20px;
    padding-top: 5px;
    
}
.formdis p{
    margin-top: -15px;
}
.formdis h2{
    font-size: 30px;
}
.inputdis{
    margin-bottom: 15px;
    width: 300px;
}
.btndis{
    width: 310px;
    height: 40px;
    border-radius: 10px;
    background: black;
    color: white;

}
.searchbar{
    position: relative;
    height: 20px;
    border-radius: 10px;

}
.searchbtn{
    position: absolute;
    border: none;
    left: 10px;
    background: transparent;
    font-size: 15px;

}
.searchbar::placeholder {
    padding-left: 30px;
}
   